<!DOCTYPE html>
<html ng-app="toDo" ng-controller="ToDoCtrl">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <title></title>
</head>
<body>

  <form ng-submit="addItem()">
    <label>Task</label>
    <input type="text" ng-model="item.text">
    <label>Due Date</label>
    <input type="date" ng-model="item.dueDate">
    <input type="submit" value="Create To Do">
  </form>

  <table>
    <tr ng-repeat="item in items">
      <td>{{item.text}}</td>
      <td>{{item.dueDate | date: "MMM d, yyyy"}}</td>
      <td><input type="checkbox" ng-model="item.completed"></td>
      <td><div>Here it is{{item.completed}}</div></td>
    </tr>
  </table>

  <script src="app.js"></script>
</body>
</html>